.idea
logs
*.log
out
logback_nbservice.xml
logback_sftp_bridge.xml
syncsftp.properties
sync_index.txt
Test.java
dist
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
