<configuration>

    <property name="LOG_FILE" value="logs/services/notebook.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <filter class="neerajm.nbservice.CustomFilter">
            <levels>${LOGGER_LEVEL}</levels>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/services/archived/notebook.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>100MB</totalSizeCap>
            <!-- 3 days to keep -->
            <maxHistory>3</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} | %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>

	<appender name="STDOUT_ERROR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%thread] %-5level | %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>
	
	<appender name="STDOUT_INFO" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d [%thread] %-5level | %class{36}.%M %L - %msg%n</pattern>
        </encoder>
    </appender>
	
    <root level="INFO">
		 <appender-ref ref="STDOUT_INFO"/>
		 <appender-ref ref="STDOUT_ERROR"/>
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>
